.header{
    width: 100%;
    height: 70px;
    border-bottom: 2px solid rgb(145, 144, 144);
}
.content{
    width: 1150px;
    height: 545px;
    margin: 0 auto;
    .center{
        width: 600px;
        height: 100%;
        margin: 0 auto;
        h1{
            margin: 0 auto;
            color: black;
            font-size: 22px;
            padding-top: 175px;
        }
        h2{
            font-size: 17px;
            color: rgb(0, 0, 0);
            margin-top: 20px;
        }
        .translate{
            width: 598px;
            height: 80px;
            border: 2px solid #e5e5e5;
            border-radius: 16px;
            display: flex;
            align-items: center;
            margin-top: 40px;
            .img {
                display: flex;
                align-items: center;
            }
            img:first-child{
                width: 45px;
                height: 35px;
                margin-left: 10px;
            }
            img:active{
                image-rendering: pixelated;
                object-fit: cover;
            }
            img[name=down]{
                width: 15px;
                height: 10px;
                margin-left: 5px;
            }
            input{
                width: 345px;
                height: 40px;
                margin: 17px 10px;
                outline: none;
                border: none;
            }
            a[name=translate]{
                width: 130px;
                height: 50px;
                //border: 1px solid black;
                background-color: #58CC02;
                border-radius: 15px;
                border-bottom: 4px solid #58A700;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                color: white;
                margin: 14px 0px;
            }
            a[name=translate]:hover{
                background-color: #05fd05;
            }
            a[name=translate]:active{
                margin: 16px 0px;
                border-bottom: 0;
            }
        }
    }
}
.botton{
    width: 1150px;
    height: 120px;
    background-color: white;
    margin: 0 auto;
    ul{
        background-color: white;
        padding: 50px;
        margin: 0 auto;
        border-top: 2px solid rgb(145, 144, 144);
        li{
            text-transform: uppercase;
            list-style-type: none;
            a{
                text-decoration: none;
                padding: 0px 15px;
                &:hover{
                    font-weight: bold;
                }
            }
        }
    }
}