.container {
  display: grid;
  grid-template-rows: 100px 1fr 140px;
  min-height: 690px;
  .header {
    max-width: 1080px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: min-content 1fr;
    padding: 50px 40px 0;
    grid-gap: 24px;

    img {
      height: 18px;
    }
    .process {
      background-color: #e5e5e5;
      border-radius: 20px;
      height: 16px;
    }
  }

  .content {
    height: 100%;
    width: 100%;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1;
    .grid {
      font-size: 19px;
      display: grid;
      height: 100%;
      max-width: 600px;
      margin: 0 auto;
      grid-gap: 30px;
      h1 {
        padding: 0;
        margin: 0;
        line-height: 24px;
        span {
          font-size: 32px;
          color: #3c3c3c;
          line-height: 40px;
        }
      }
      .answer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: min-content minmax(0, 1fr);
        text-align: center;
        grid-gap: 8px;
        .answer__item {
          height: 254px;
          border: 2px solid;
          border-bottom: 4px solid;
          border-color: #e5e5e5;
          border-radius: 16px;
          padding: 24px;

          &:hover {
            border-width: 2px 2px 2px 2px !important;
            background-color: #f7f7f7;
            position: relative;
          }

          .answer__item-img {
            height: 160px;
            margin-bottom: 10px;
            width: 100%;
            img {
              height: 94%;
              width: 90%;
            }
          }
          .answer__item-sub {
            display: flex;
            justify-content: space-between;
            align-items: center;
            span:first-child {
              font-size: 17px;
              color: #4b4b4b;
              letter-spacing: 0.1px;
            }
            span:nth-child(2) {
              font-size: 15px;
              color: #afafaf;
              width: 30px;
              height: 30px;
              border: 2px solid #e5e5e5;
              align-items: center;
              display: flex;
              justify-content: center;
              border-radius: 8px;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

.footer {
  border-top: 2px solid #e5e5e5;

  .footer__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-width: 1000px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    padding: 0 40px;

    a {
      font-size: 17px;
      padding: 12px 16px;
      width: 150px;
      text-align: center;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      border: 2px solid;
      border-bottom: 4px solid;
      color: #afafaf;
      border-color: #e5e5e5;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
    }
    a:nth-child(2) {
      background-color: #e5e5e5;
      border: none;
      height: 46px;
      margin-top: 4px;
    }
  }
}
