/* main */

.main {
  /* exercise */
  .exercise {
    overflow: hidden;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 24px;
    left: 0;
    border: 2px solid #e5e5e5;
    border-bottom-width: 4px;
    border-radius: 50%;
    height: 72px;
    width: 72px;

    .exercise__link {
      padding: 28px 17px;
      cursor: pointer;

      img {
        height: 32px;
      }
    }
  }

  
}
