/* side-bar */

.border-max {
  border-top: 2px solid #e5e5e5;
  margin: 0 -24px;
}

.sidebar {
  flex: 1;
  max-width: 380px;

  h2 {
    color: #3c3c3c;
    font-size: 24px;
    line-height: 26px;
  }

  .competion {
    padding: 24px 24px 0;
    width: 380px;
    border: 2px solid #e5e5e5;
    border-radius: 20px;
    margin-bottom: 24px;

    &__about {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;

      div {
        flex: 1;
        display: flex;
        justify-content: space-between;

        img {
          width: 18px;
          height: 18px;
        }
      }

      span {
        flex: 1;
        color: var(--yellow);
        text-transform: uppercase;
        letter-spacing: 0.8px;
        font-size: 15px;
        font-weight: 700;
        margin-left: 10px;
        white-space: nowrap;
      }
    }

    &__trophy {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;

      .competion__trophy-item {
        width: 53px;
        height: 64px;
        max-width: 20%;

        img {
          width: 100%;
        }
      }
    }
    &__notif {
      padding: 24px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 242px;
      p {
        margin: 15px 0;
      }
    }
  }
  // Overall
  .overall {
    padding: 24px 24px 0;
    width: 380px;
    border: 2px solid #e5e5e5;
    border-radius: 20px;
    margin-bottom: 24px;

    .overall__about {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
      align-items: center;

      div {
        flex: 1;
        display: flex;
        justify-content: space-between;
      }

      .overall__about--link {
        color: var(--blue);
        text-transform: uppercase;
        letter-spacing: 0.8px;
        font-size: 15px;
        font-weight: 700;
        white-space: nowrap;
      }
    }

    .overall__trophy {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;

      .overall__trophy-item {
        width: 73px;
        height: 73px;
        margin-right: 14px;

        img {
          width: 100%;
        }
      }
      .overall__process {
        p {
          color: #777;
          margin-bottom: 12px;
        }

        .overall__process-detail {
          display: flex;
          justify-content: space-between;

          span:first-child {
            min-width: 163px;
            height: 14px;
            background-color: #e5e5e5;
            border-radius: 10px;
          }

          span:nth-child(2) {
            margin-left: 12px;
            color: #afafaf;
            white-space: nowrap;
          }
        }
      }
    }

    .overall__notif {
      padding: 24px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .--lines {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 38px;

        text:first-child {
          width: 20px;
          text-align: end;
          color: #cccac9;
        }

        .line {
          width: 250px;
          border-bottom: 2px solid #e5e5e5;
          display: inline-block;
          text-align: end;
        }

        .--week {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 250px;
          margin-left: 40px;
          color: #cccac9;
        }
      }
    }
  }

  /* Achievement */

  .achievement {
    padding: 24px 24px 0;
    width: 380px;
    border: 2px solid #e5e5e5;
    border-radius: 20px;
    margin-bottom: 24px;

    .achievement__about {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
      align-items: center;

      div {
        flex: 1;
        padding-right: 30px;
        justify-content: space-between;
      }

      .achievement__about--link {
        color: var(--blue);
        text-transform: uppercase;
        letter-spacing: 0.8px;
        font-size: 15px;
        font-weight: 700;
        white-space: nowrap;
      }
    }

    .achievement__trophy {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;

      .achievement__trophy-item {
        height: 80px;
        margin-right: 14px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid #e5e5e5;
        border-radius: 15px;
        border-top: 4px solid #e5e5e5;

        img {
          width: 70%;
          height: 70%;
        }

        span {
          font-weight: 600;
          font-size: 11px;
          color: #fff;
          text-transform: uppercase;
          background: var(--blue);
          padding: 5px;
          width: 90%;
          text-align: center;
          border-radius: 13px;
        }
      }

      .achievement__process {
        flex: 1;

        p {
          color: #777;
          margin-bottom: 12px;
        }

        .achievement__process-detail {
          display: flex;
          justify-content: space-between;

          span:first-child {
            min-width: 163px;
            height: 14px;
            background-color: #e5e5e5;
            border-radius: 10px;

            &::after {
              content: "";
              display: block;
              width: 140px;
              height: 14px;
              background-color: var(--yellow);
              border-radius: 10px;
            }
          }

          span:nth-child(2) {
            margin-left: 12px;
            color: #afafaf;
            white-space: nowrap;
          }
        }
      }
    }
  }

  // Friends

  .friends {
    padding: 24px 24px 0;
    width: 380px;
    border: 2px solid #e5e5e5;
    border-radius: 20px;
    margin-bottom: 24px;

    &__about {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
      align-items: center;

      div {
        flex: 1;
        padding-right: 30px;
        justify-content: space-between;
      }

      span {
        color: #999999;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        font-size: 15px;
        font-weight: 700;
        white-space: nowrap;
      }
    }

    .friends__list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      margin: 0 -24px;
      overflow: scroll;
      border-bottom: 2px solid #e5e5e5;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid #e5e5e5;
        padding: 12px 24px;

        &::after {
          content: "";
          display: block;
          border-bottom: 2px solid #e5e5e5;
        }

        .item-left,
        .item-right {
          align-items: center;
          display: flex;
        }

        .item-left {
          flex: 1;

          .item-left--link {
            color: #4b4b4b;
            font-size: 19px;
            font-weight: 700;
            cursor: pointer;
            overflow: hidden;

            img {
              border-radius: 50%;
              width: 40px;
              height: 40px;
            }
          }
        }

        .item-right {
          color: #999999;
        }
      }
    }

    .with_friends {
      padding: 24px 0;

      .friends__search,
      .friends__add {
        display: flex;
        justify-content: center;

        .friends__search--link,
        .friends__add--link {
          border: 2px solid #e5e5e5;
          color: #afafaf;
          width: 100%;
          text-transform: uppercase;
          font-weight: 700;
          text-align: center;
          border-bottom-width: 4px;
          padding: 14px 8px;
          border-radius: 16px;
          font-size: 15px;
          background: #fff;
        }
      }

      .friends__search {
        justify-content: center;
        margin-bottom: 12px;
      }

      .friends__add {
        justify-content: space-between;

        .friends__add--link {
          max-width: 158px;
        }
      }
    }
  }

  /* Follow */

  .follow {
    padding: 24px;
    width: 380px;
    border: 2px solid #e5e5e5;
    border-radius: 20px;
    margin-bottom: 24px;

    .follow__title {
      text-align: center;
      color: #3c3c3c;
      font-size: 17px;
      font-weight: 700;
      margin-bottom: 12px;
    }

    .follow__list {
      display: flex;
      justify-content: space-between;

      li {
        padding: 13px 13px;
        border: 2px solid #e5e5e5;
        border-radius: 16px;
        border-bottom: 4px solid #e5e5e5;
        background: #fff;

        .follow__list--link {
          font-size: 15px;
          font-weight: 600;
          letter-spacing: 0.8px;
          display: flex;
          align-items: center;

          img {
            margin-right: 10px;
          }
        }
      }

      li:first-child .follow__list--link {
        color: #1da1f2;

        img {
          width: 14px;
        }
      }

      li:nth-child(2) .follow__list--link {
        color: #3b5998;

        img {
          width: 16px;
        }
      }

      li:last-child .follow__list--link {
        color: #ff4b4b;

        img {
          width: 20px;
        }
      }
    }
  }
}

.friends__search--link:hover,
.friends__add--link:hover,
.link-to:hover {
  filter: brightness(0.9) !important;
}

.friends__search--link:active,
.friends__add--link:active,
.link-to:active {
  position: relative;
  top: 2px;
  margin-bottom: 2px;
  border-bottom-width: 2px !important;
}
