.vocabulary {
  margin-left: 240px;
  position: absolute;
  top: 54px;
  .form {
    display: flex;
    flex-direction: column;

    div {
      margin: 10px 0;
      display: flex;
      justify-content: space-between;
      label {
        margin-right: 20px;
      }
    }
  }

  table {
    margin-top: 15px;
    tr {
      th {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px 15px;
      }
      td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px 15px;
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

.btn {
  cursor: pointer;
}
